@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.human-calculator {
  background-image: url(./../assets/bg-math-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
